{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %} Новости {% endblock %}</title>
</head>

<body>

<!-- Navigation bar -->
{% include 'inc/_nav.html' %}

<div class="container mt-3">
    <div class="row">
        <!-- Список категорий новостей-->
        <div class="col-md-4">
            {% block sidebar %} {% endblock %}
        </div>
        <!-- Список новостей -->
        <div class="col-md-8">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>


</body>
</html>

</body>
</html>